.ab{
    border:3px solid black;
    width:350px;
    height:150px;
    background-color: blue;
    padding:opx;
    margin:30px;
    padding-left:0px;
    padding-bottom: 0px;
    padding-right:0px;
    padding-top: 3px;


}
.cd{
    background-color: yellow;
    border-width: 20px;
    
    padding:25px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}
body{
    border:3px solid black;
    width:500px;
    height:300px;
}