p{background-color: olive;
    text-align: center;
    border: 50px;
height: 3px;
width: 500px;
padding:80px;
padding-left: 200px;
padding-bottom: 200px;
padding-right: 300px;
padding-top: 400px;
}
h1{

}

