body{
  border: 3px solid black;
  height:400px;
  width:600px;
}
.ab{
  background-color: rgb(11, 117, 11);
  height:300px;
  width:150px;
  display:inline-block;
  text-align: center;
  padding-left: 20px;
  padding-right:20px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: content center;
}
.cd{
  background-color: maroon;
  height:300px;
  width:150px;
  display:inline-block;
  text-align:center;
  margin-left: 5px;
margin-right: 5px;
text-align: content center;
}
.rs{
  background-color: aqua;
  height:300px;
  width:150px;
  display: inline-block;
  text-align:center;
  padding-left: opx;
  padding-right: 0px;
  margin-left: 20px;
  margin-right: 20px;
  text-align:content center;
}