{
    margin: 0;
    padding: 0;


}
p{
    color:rgb(255, 238, 0);
    background-color: rgb(188, 143, 165);
    text-align: center;
    font-size: 40;
    padding: 20px;
}
.jk{color:purple;
    background-color: olivedrab;
    text-align:center;
    font-size: 30px;

    }
body{
    background-color: rgb(119, 27, 119);
    padd
}
#id{

}
div{
    height: 300px;
    width: 200px;
    background-color: olivedrab;
    border: 5px double black;
    padding:10px;
    margin-left: 50px;

}